<% include header %>

    <form method="POST" action="/login/usrlogin">
    <table id="login">
        <tr><td>Email:</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr><td>Password:</td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
    </table>
    <input type="submit">


<% var hideBackLink = true; %>
<% include footer %>
