
    <div id="menu">
        <a id='menulink' href='/'>Home</a>
        <a id='menulink' href='/login'>Login</a>
        <a id='menulink' href='/help'>Help</a>
        <a id='menulink' href='/about'>About</a>
    </div>
